/**
 * @file:        sharp.css
 * @author:      Muthik
 * @update:      2021年07月22日
 * @description: 面向现代浏览器的样式重置方案
 * @copyright:   基于 normalize.css | Neat.css | MIT License
 *
 * ======================================================
 *
 * sharp.css 的设计方向:
 * 1. 以 开发便捷 为第一目的；
 * 2. 面向现代浏览器;
 * 3. 做 有效 的样式修改;
 * 4. 尽可能 减少对性能的影响;
 * 5. 向后兼容;
 */


/*
* 使用统一的盒模型
* 这行代码开发效率提升巨大
* 用起来贼拉爽
*/

* { box-sizing: border-box; }

/*
* 清除常用标签的默认边距
*/
body, ul, ol, dir,
h1, h2, h3, h4, h5, h6, figure, p,
fieldset, hr, pre, blockquote {
  margin: 0;
}
ul, ol,
input, button,
fieldset, legend, option, textarea,
th, td {
  padding: 0;
}

/**
* 1. 这个字色会比默认的 #000 要柔和
* 2. 中文字行距适合 1.5 以上，行间距太小会显得挤
* 3. 这个能上不少忙
*/
html {
  color: #363636; /* 1 */
  font-size: 12px; /* 2 */
  line-height: 1.6;
  /* 3 */
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
}

/*
 * 大部分时候你并不需要列表样式
 */
ul, ol, dir {
  list-style-type: none;
}

/*
 * 统一水平线样式
 */
hr {
  height: 0;
  padding:  0;
  border: 0;
  border-top: 1px solid #ccc;
}

/*====================*
 *      文字样式       *
 *====================*/

/**
* 1. 去除链接默认的下划线
* 2. 去掉 IE 10+ 点击链接时的灰色背景
* 3. 让链接的字体颜色继承父元素
*/
a {
  text-decoration: none; /* 1 */
  background-color: transparent; /* 2 */
}
a,
a:hover,
a:active,
a:visited {
  /* 3 */
  color: inherit;
}

/*====================*
 *      文字样式       *
 *====================*/

/* 统一各浏览器中 hadding 类标签的字号 */
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3, h4, h5, h6 {
  font-size: 1em
}

/*
 * windows下优先 consolas(WIN 7+) 然后是 courier new(WIN XP+)
 * Mac下优先
 */
code, kbd, pre, samp {
  font-family: monaco, menlo, consolas, 'courier new';
}

/*
 * 统一 hadding 和 bold 标签的粗体样式
 */
h1, h2, h3, h4, h5, h6,
b, strong {
  font-weight: bolder
}

/*
 * 网页中 size 小于 12px 的文字辨识度很低喔
 */
small {
  font-size: 12px;
}

/*
 * 浏览器中 sub 和 sup 会影响行高的变化
 * 用定位解决这个问题
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}

/*====================*
 *        表格         *
 *====================*/

/* 合并单元格边框 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*====================*
 *        表单         *
 *====================*/


/* 表单相关 */
textarea {
  overflow: auto; /* IE6-9中默认显示滚动条 */
  resize: vertical; /* 防止水平拉伸影响布局 */
}

/* 统一表单域边距 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
}

/* 修正表单元素在某些元素中不能继承
 * 父元素字体样式的问题 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  /* 统一 border ，默认是 2px  */
  border: 1px solid #666;
  /* outline: none; 在 Firefox 中没得用 */
  outline:  0px;
}

/* 按钮禁用样式下的鼠标交互 */
button[disabled],
input[disabled] {
  cursor: default;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}



/*====================*
 *  一些常用的助手方法   *
 *====================*/

/* 清除浮动 */
.fn-clearfix:before,
.fn-clearfix:after {
  content: "";
  display: block;
}
.fn-clearfix:after {
  clear: both;
}

/* 元素不可见 */
.fn-hidden {
  display: none !important;
}

/* 单行文字溢出省略号 */
.fn-ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

/* 整词换行 */
.fn-wrap {
  white-space: normal;
  word-wrap: break-word;
}

/* 强制不换行 */
.fn-nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

/* 禁用样式 */
.fn-disabled {
  opacity: 0.6; /* 设置透明度 */
  cursor: default; /* 鼠标指正交互 */
  pointer-events: none; /* 阻止触发事件 */
}

/* 禁止鼠标选中 */
.fn-noselected {
  user-select: none;
}

/* 不显示滚动条，仍支滚动 */
.fn-hide-scrollbar {}

body {
  padding-bottom: 50px;
  user-select: none;
}