@import 'colors';

/*===================
 * 普通按钮 / normal
 ====================*/

/* 基本形态 */
$button-normal-text: $text;
$button-normal-border: 1px solid #D7D7D7;
$button-normal-background: $write;

/* HOVER */
$button-normal-hover-text: #42AAC5;
$button-normal-hover-border: 1px solid #97D0DF;
$button-normal-hover-background: #EBF6F9;

/* ACTIVE */
$button-normal-active-text: #2799B2;
$button-normal-active-background: $write;

/* DISABLE */


/*===================
 * 主要按钮 / primary
 ====================*/

/* 基本形态 */
$button-primary-text: $write;
$button-primary-border: none;
$button-primary-background: $primary;

/* HOVER */
$button-primary-hover-border: none;
$button-primary-hover-background: #6AC6DE;

/* ACTIVE */
$button-primary-active-background: #2799B2;
